* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /*16px*/
}
body {
    height: 100vh;
}

/*Header*/
.containerHeader {
    display: flex;
    height: 14vh;

    justify-content: space-around;
    align-items: center;
}
.containerHeader header img {
    width: 80px;
}

/*Main*/
main {
    position: relative;

    width: 100%;
    max-width: 1328px;

    /* display: flex;
    flex-direction: column; */
}

.container {
    background-color: yellowgreen;
    width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 400px;
}

.container .textMain {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    top: 80px;
}

h1,
h2 {
    font-size: 4rem;
    color: white;

}

.container .imgMain {
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    bottom: -16%;

    left: 50%;
}

/*Sections*/

.sections {

    background-color: #EAEAEA;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 800px;
    height: 1600px;

}
.sectionTwo {
    position: relative;
    background-color: white;
}
.divAbsoluta{
    position: absolute;
    top: 120px;
}
.imgAbsoluta {
    position: absolute;
    bottom: 0;
}
.sectionThree {
    background-color: #7F25B7;
}
.sectionFour {
    background-size: cover;
    background-image: url(https://nubank.com.br/_next/static/images/2af80081db969ec5f038fea9b4547563-challenge-system-large.jpg.webp);
    background-position: center center;
}
.sectionFive {
    background-size: cover;
    background-image: url(https://nubank.com.br/_next/static/images/e9a8f4789288aedbb18fac3337dff7d0-nucommunity@0.5x.jpg.webp);
    background-position: center;
}
.sectionSix {
    background-size: cover;
    background-image: url(https://nubank.com.br/_next/static/images/b1d32368f7c53c105ccff2d3d14d5b7a-holding-device-smile@0.5x.jpg.webp);
    background-position: center;
}

